.section-hero {
  background-image: linear-gradient(
    to bottom right,
    hsl(var(--primary-light)),
    hsl(var(--primary-dark))
  );
  width: 100%;
}

.container {
  width: 80%;
  margin: 15% 10%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 5em;
}
