.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.left {
  height: inherit;
  display: flex;
  flex-direction: row;
}

.left > img {
  height: inherit;
  width: auto;
}

.company-name {
  display: flex;
  align-items: center;
}

.company-name > * {
  display: inline-block;
}

.right {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
