:root {
  --bg-primary-200: #b5f570;
  --bg-primary-400: #88ef1a;
  --bg-dark-700: #424874;
}

.bg-primary-200 {
  background-color: var(--bg-primary-200);
}

.bg-primary-400 {
  background-color: var(--bg-primary-400);
}

.bg-dark-700 {
  background-color: var(--bg-dark-700);
}

/*
  ===+ defaults +===
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

/*
  ===+ ======== +=== 
*/
.logo-img {
  width: 5%;
}

.container {
  padding: 2em 1em;
  overflow:hidden
}

img:hover {
  cursor: pointer;
}

@keyframes show-icons {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

.container img {
  max-width: 25%;
  animation: show-icons 1000ms ease 0ms 1;
}