:root {
  --bg-white-100: #eeeeee;
  --bg-primary-200: #b5f570;
  --bg-primary-400: #88ef1a;
  --bg-secondary-400: #DB3A34;
  --bg-dark-700: #424874;
  --bg-dark-800: #333333;

  --responsive-width-1: 60em;
  --animation-duration: 500ms;
}

.bg-primary-200 {
  background-color: var(--bg-primary-200);
}

.bg-primary-400 {
  background-color: var(--bg-primary-400);
}

.bg-dark-700 {
  background-color: var(--bg-dark-700);
}

/*
  ===+ defaults +===
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

/*
  ===+ ======== +=== 
*/

body {
  background-color: var(--bg-white-100);
}

.logo-img {
  height: 10vh;
}

.container {
  padding: 2em 1em;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  vertical-align: bottom;
  flex-wrap: wrap;
  width: 100%;
  height: 50vh;
  flex-direction: column;
}

.container::before {
  content: '';
  z-index: 0;
  display: block;
  width: 100vw;
  height: 1rem;
  position: relative;
  top: -3rem;
  box-shadow: 0px 0px 10px #000;
}

@media (min-width: 47rem) {
  @keyframes change-icon-position {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-200%);
    }
  }

  @keyframes show-icons {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .container > * {
    flex-basis: 1;
  }
}

@media (max-width: 47rem) {  
  @keyframes change-icon-position {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-200%);}
  }

  @keyframes show-icons {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}


