.title-container {
  padding: 2em 1em;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  vertical-align: bottom;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  padding-top: 0% !important;

}

.company-title {
  font-size: min(3rem, 10vw);
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 1.5rem;
  transform: scale(0);
  overflow: hidden;
  animation: open-title var(--animation-duration) ease 100ms forwards;
  background-color: var(--bg-white-100);
  white-space: nowrap;
  color: #fff;
  text-shadow: 10px 0px 20px red, 0 0px 20px red, 0px 0px 5px red;
}

@keyframes open-title {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.company-title::before,
.company-title::after {
  font-size: min(1.5rem, 5vw);
  display: block;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
  color: rgb(207, 165, 0);
  text-shadow: none;
}

.company-title::before {
  content: 'Centre de réparation';
  top: 25%;
  opacity: 0;
  animation: slide-before var(--animation-duration) ease 600ms 1 forwards;
}

@keyframes slide-before {
  0% {
    top: 25%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.company-title::after {
  content: 'Repair center';
  bottom: 25%;
  opacity: 0;
  animation: slide-after var(--animation-duration) ease 600ms 1 forwards;
}

@keyframes slide-after {
  0% {
    bottom: 25%;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.container img {
  aspect-ratio: 1/1;
  max-width: min(15em, 50vh);
  height: auto;
  transition: max-width 500ms ease;
  animation: 
    change-icon-position 0ms linear 0ms 1 forwards,
    show-icons 1000ms ease calc(100ms + (1000ms*var(--order)/var(--times))) 1 forwards;
}

.icon-container {
  display: inline-block;
}

@media (min-width: 30em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: auto;
  }
}

.split {
  display: flex;
  flex-direction: column;
}

.split > * + * {
  margin-top: 1em;
}

.icon-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.icon-box > div {
  max-width: 200px;
  margin: 0;
}

.text {
  position: relative;
  width: 0;
  overflow: hidden;
  height: 15em;
  transition: width 500ms ease;
}

.shrink {
  max-width: min(9em, 30vh);
}

